*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: rgb(43, 18, 18);
}
.row{
  text-align: center;
}
input{
  margin-top: 5px;
  padding: 8px;
  margin-bottom: 15px;
}
.button{
  padding: 12px;
  border: 1px solid white;
  outline: none;
}
hr{
  color: #fff;
  padding: 1px;
}
.img-div{
  display: flex;
  justify-content: center;
}
img{
  width: 500px;
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  flex-wrap: wrap;
  cursor: pointer;
  margin: 15px;
}
.heading{
  color: #fff;
}
.modalElement{
  width: 80%;
  height: 100%;
  background: rgb(36, 19, 19);
  color: #fff;
}
.closebtn{
  border-radius: 30%;
  border: none;
  background: rgb(36, 19, 19);
  cursor: pointer; 
}
.closebtn:hover{
  background: rgb(61, 31, 31);;
}
